*{
    margin: 0;
    padding: 0;
}

#topbar{
    background-color: rgb(236,236,239);
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: 3fr 4fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'logo empty projects snippets';
}

#bottombar {
    background-color: rgb(109, 86, 152);
    width: 100%;
    height: 175px;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'empty1 logo logo logo empty2'
                         'empty1 github linkedin mail empty2';
}

#section1{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 'empty1 image content empty2'
                         'empty1 image contenttext empty2';
}

#section2{
    display: grid;
        grid-template-columns: 5fr 2fr 2fr 2fr 2fr 5fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'title title title title title title'
                             'empty1 skill1 skill2 skill3 skill4 empty2';
}

.buttonclean{
    border: 0px;
    background: rgba(0, 0, 0, 0);
    font-family: inherit;
}
