* {
    margin: 0;
    padding: 0;
}

.topbar {
    height: 75px;
    width: 100pc;
    background-color: rgb(236, 236, 239);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 10px;
}

.menu-item{
    /* grid-column-start: 1/span(2); */
    justify-self: center;
    align-self: center;
}

/* 
#logo {
    position: relative;
    float: left;
    
    margin-left: 30px;
    padding: 5px;
}

#topnav {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 300px;
    padding: 5px;
}

.cleanedlink {
    text-decoration: none;
    color: #000;
} */