:root{
    --purple: rgb(109,86,152);
    --light-purple: rgb();
}

* {
    margin: 0;
    padding: 0;
}

.topbar {
    height: 75px;
    width: 100pc;
    background-color: rgb(236, 236, 239);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-column-gap: 10px;
}

.menu-item-2 {
    font-size: 24px;
    grid-column-start: 8;
    grid-column-end: 8;
    align-self: center;
}

.menu-item-3 {
    font-size: 24px;
    grid-column-start: 9;
    grid-column-end: 9;
    align-self: center;
}

.logo{
    color : var(--purple);
    font-size: 36px;
    grid-column-start:1;
    grid-column-end:3;
    justify-self: center;
    align-self: center;
}
